# Virtual environment
.venv


# Environment variables and API keys
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit secrets
.streamlit/secrets.toml

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Hugging Face cache
.cache/
huggingface/

# FAISS / local database files
*.faiss
*.pkl

# Logs
*.log